<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.wheel"
    version     = "1.0.0" >

  <name>Wheel of Fate</name>

  <description>
      Randomly select from a list you create by spinning the Wheel.
  </description>

  <author href="https://build.phonegap.com" email="clstewart@kryptcorp.com">
      Casey Stewart
  </author>

</widget>